:root {
  --bg-color: #FFFDEB;
  --text-color: #2E2E2E;
  --accent1: #00E5FF;
  --accent2: #FF4081;
  --border-color: #CCCCCC;
}
#highlight{
    color: var(--accent2);
}
body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  position: sticky;
  top:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: var(--text-color);
  color: var(--accent1);
  z-index: 5;
}

.logo {
  color: var(--accent2);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: var(--accent1);
  font-size: 0.7rem;
    padding-bottom: 5px;
      &:hover{
          border-bottom: 2px solid var(--accent2);
      }
    
}
.nav-links li{
    
}

.mode-toggle {
  
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--accent2);
  cursor: pointer;
margin-left: auto;
}

.menu-toggle
 {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--accent2);
  cursor: pointer;
/*     border: 2px solid var(--bg-color);*/
    
}

@media (max-width: 768px) {
  .nav-links {
      box-sizing: border-box;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--text-color);
    flex-direction: column;
    width: 100%;
    display: none;
    padding: 1rem;
    
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }


}

.footer {
  background-color: var(--text-color);
  color: var(--accent2);
  padding: 2rem;
  text-align: center;
}

.footer h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Contact Form Styling */
#contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  max-width: 400px;
  margin: 0 auto;
  
}
main {
  /* height: 1000px; */
  display: flex;
  flex-direction: column;
  
}

#contact-form input,
#contact-form textarea {
  font-family: 'Press Start 2P', cursive;
  color: var(--bg-color);
  padding: 0.5rem;
  font-size: 0.8rem;
  border: 2px solid var(--input-border);
  background-color: var(--input-bg);
  resize: vertical;
}
#contact-form textarea {
  min-height: 80px;
  resize: vertical;;
}

#contact-form button {
  font-family: 'Press Start 2P', cursive;
  padding: 0.7rem;
  font-size: 0.6rem;
  background-color: var(--accent2);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

#contact-form button:hover {
  background-color: #e0306f;
}

/* Dark mode class */
.dark-mode {
  --bg-color: #1A1A1A;
  --text-color: #EDEDED;
  --accent1: #1A1A1A;
  --accent2: #FF2E88;
  --border-color: #444444;
}
main {
  
}
#avatar-container {
  position:relative;
  max-width: 100%;
  width: 500px;
  /* height: 500px; */
 
 /* overflow: hidden; */
   display: inline-block;
  
  margin: 10px auto; 
  
}
#back-img {
  /* position: absolute; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  animation: spin 200s linear infinite;
}
#front-img {
  position: absolute;
  width: 70%;
  top: 15%;
  left: 15%;
  z-index: 2;
  /* border: 3px solid var(--text-color); */
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p {
  font-family:'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 600;
}
section h2 {
  
}
section {
  max-width: 800px;
  width: 85%;
  padding: 30px;
  margin: 20px auto;
  /* border: 1px solid black */
}
.side-note {
  border-left: 4px solid var(--accent2);
  margin-left: 40px;
  font-style: italic;
  padding: 10px
}
.thinText {
  font-weight: 300;
  text-align: right;
  display:block;
  /* font-style: normal; */
  font-size: 100%;
  padding-top: 10px;;
}
.links {
  text-align: right;
  
}
.links a {
  padding: 5px;
}
.accordeonItemBody {
  display: none;
}
.accordeonItem {
  cursor: pointer;
  /* border: 2px solid purple; */
}
.cardHolder {
  margin: 10px auto;
  /* border: 2px solid red; */
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem; /* optional spacing between cards */
  justify-content: center; /* or start/space-between/etc */
}

.card {
  flex: 1 1 350px;         /* grow, shrink, base size */
  max-width: 600px;
  min-width: 350px;
  height: 200px;
  box-shadow: 5px 5px var(--text-color);
  background: var(--bg-color);
  padding: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  &:hover{
    transform: scale(1.03);
  }
  
}
.card h1{
  text-align: center;
  margin-top: 40px;
  font-size: 1.75rem;
}
.card .links {
  position: absolute;
  bottom: 0px;
  right: 15px;
}
.cardLink{
  display: block;
  text-decoration: none;
}
#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #444444da;
  top:0;
  bottom: 0;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#output {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 30px;
}
#ipHeadBtn{
  cursor: pointer;
}